.App {
  text-align: center;
  font-family: 'Blockstepped';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Blockstepped';
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Blockstepped';
  src: url('./assets/fonts/Blockstepped.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'MyCustomFont', sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: transparent; /* Transparent background */
  position: relative; /* To allow positioning of the underline */
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin-right: 1.5rem;
  position: relative; /* To allow positioning of the underline */
}

.nav-link {
  color: #000000;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: 'Blockstepped', sans-serif;
  padding-bottom: 1px;
  position: relative;
  display: inline-block;
}

/* When a nav-link is active, apply underline */
.nav-link.active-nav-link::after {
  width: 100%;
}

/* Slide the underline when navigating */
.navbar ul {
  position: relative;
}

/* Indicator line for active link (positioned using JS) */
.navbar .underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #000000;
  transition: left 0.3s ease, width 0.3s ease;
}